<div
      class='d-flex justify-content-evenly mt-5 mb-5 bg-light align-items-center'
>
    <ul>
        <li>Argumentos de entrada {{argv}}</li>
        <li>Nombre de la plataforma {{plataform}}</li>
        <li>Versión de node.js {{version}}</li>
        <li>Memoria total reservada (rss) {{memoryUsage}}</li>
        <li>Path de ejecución {{exec}}</li>
        <li> Process id {{pid}}</li>
        <li>Carpeta del proyecto {{cwd}}</li>
    </ul>
</div>