
<h1>Lista de productos</h1>
<div>
  <table >
    <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Price</th>
      <th>Thumbnail</th>
    </tr>
    </thead>
    <tbody>
    {{#if isEmpty}}
    <tr >
      <td>No hay usuarios registrados aún</td>
    </tr>
    {{/if}}
    {{#each products}}
      <tr>
        <td>{{id}}</td>
        <td>{{title}}</td>
        <td>{{price}}</td>
        {{#if thumbnail}}
        <td ><img src="{{thumbnail}}" alt="{{title}}" width="50px"></td>
        {{/if}}
      </tr>
    {{/each}}
    </tbody>
  </table>
  <a href="/"><button>Agregar nuevo Producto</button></a>
</div>

